.ReactModal__Overlay {
    z-index: 9999999;
}

.listaMetodosDisponibles{
    list-style: none;
    color: grey;
    cursor: pointer;
}
.listaMetodosDisponibles:hover{
    color: blue;
    cursor: pointer;
}

.limetodos{
    color:red;
}
.list-group-item.disponibles{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 14px;
    border: none;
    font-weight: bold;
    color: grey;
    
}
.button2{
    outline-style: none !important;
    box-shadow: none !important;
    margin: auto;
    color: grey;
    display: inherit;
    display: block;
    height: 91px;
    display: b;
    color: grey;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #03a9f4;
}

.saveButton4{
    margin-top: 251px;
    margin-bottom: 220px;
    color: grey;
    background-color: white;
    border-style: solid;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.row.inicio{
    width: 100%;

}

.botonGuardar{
    width: 100%;
}

.centradoCol{
    text-align: center;

}

.centradoInput{
    margin: auto;
}

.centradoRow{
    margin: 0;
    text-align: center;
    padding-top: 4%;
}

.labelInputModal2{
    font-weight: bold;
    color:grey
}

.labelInputModal3{
    font-weight: bold;
    color:white;
    margin:auto;
}

.rowlistadometodos{
    margin:auto;
    text-align: center;
    padding-top: 5%;
}

.modalsectionD{
    width: 78%;
    margin: auto;
    text-align: center;
    background-color: lightgrey;
    padding: 3%;
}

.saveButton{
    color: #03a9f4;
    background-color: white;
    border-style: solid;
    border-color: #03a9f4;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: auto;
    outline-style: none;
    box-shadow: none;
}

.saveButton:hover{
    background-color: #03a9f4;
    color:white;
}

.borrarMetodoAgregado{
    background-color: white;
    border-style: solid;
    border-radius: 77px;
    font-size: 13px;
    color: darkgrey;
    font-weight: bold;
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 0;
}

.limetodosselect{
    color:blue;
}

.formheadmodal{
    width: 80%;
    margin: auto;
    text-align: center;
}

.formheadmodalinput{
    border: none;
    border-bottom: 2px solid blue;
    width: 85%;
    float: right;
    outline-style: none !important;
    box-shadow: none !important;
}

.formheadmodalinput2{
    background-color: lightgrey;
    border: none;
    border-bottom: 2px solid blue;
    width: 85%;
    outline-style: none !important;
    box-shadow: none !important;
    text-align: center;
}

.list-group.list-group-flush{
    margin:auto;
}

.contenedorcalendario{    
    text-align: center;
   
}
.tituloModal{
    color: grey;
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
}

.tituloModal2{
    width: 100%;
    color: grey;
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
}

.modalsectionA{
    margin: auto;
}

.labelInputModal{
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.labelInputModal7{
    color: blue;
    font-size: 15px;
    font-weight: bold;
}

.labelInputModalB{
    color: grey;
    font-size: 16px;
}

.botonesFooter{
    margin: auto;
}

.botonEnAncla{
    color: grey;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    padding: 14px;
    border-radius: 53px;
}
.cerrarModal{
    all:unset;
    cursor: pointer;
}

.buttonMenu,.cerrarModal{
    all:unset;
    outline-style: none !important;
    box-shadow: none !important;
}

.buttonMenuSubmenu{
    all:unset;
    position: absolute;
    top: 98%;
    background-color: #1a7ec9;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.contenedorEngrane{
    float: right;
}
